# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/

# 环境变量
.env

# 向量库（体积大，不传）
chroma_db/

# IDE
.idea/
.vscode/

# 系统
.DS_Store
test.py
test1.py
check_ttl.py
test2.py
test3.py
test4.py
test5.py
test6.py
test7.py
test8.py
test_raga.py
test_vision.py
test_data
main_vision_rag.py
